{% extends 'base.html' %}

{% block title %}Fight!{% endblock %}

{% block content %}

<div class="centered">
    <form class="centered" method = "post" action="{% url 'test_fight' %}">
        {% csrf_token %}
        <select class="selectcontainer" name="selected_characters" multiple>
            {% for character in characters %}

                <option class="selectoption" value="{{character.id}}">{{character.name}}</option>

            {% endfor %}
        </select>
        <input class="button is-danger margin actualfightbutton" type="submit" value="FIGHT" />
        <select class="selectcontainer" name="selected_characters2" multiple>
            {% for character in characters %}

                <option class="selectoption" value="{{character.id}}">{{character.name}}</option>

            {% endfor %}
        </select>

    </form>
</div>


{% endblock %}